<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width,
						initial-scale=1.0">
	<title>Assisgnment</title>
	<link rel="stylesheet"
		href="style.css">
</head>

<body>
	<header>
		<h1 class="heading">Tata Consultancy Services</h1>
	</header>

	<!-- container div -->
	<div class="container">

		<!-- upper button section to select
			the login or signup form -->
		<div class="slider"></div>
		<div class="btn">
			<button class="login">Employee</button>
			<button class="login1">Admin</button>
		</div>

		<!-- Form section that contains the
			login and the signup form -->
		<div class="form-section">

			<!-- login form -->
			<div class="login-box">
				<input type="email"
					class="email ele"
					placeholder="Employee ID">
				<input type="password"
					class="password ele"
					placeholder="password">
				<button class="clkbtn">Login </button>
			</div>

			<!-- signup form -->
			<div class="login1-box">
				<input type="email"
					class="email ele"
					placeholder="Employee ID">
				<input type="password"
					class="password ele"
					placeholder="password">
				<button class="clkbtn">Login </button>
			</div>
		</div>
	</div>
	<script src="javass.js"></script>
</body>

</html>