<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="container">
<h2>Add Employee details</h2>
<form th:action="@{/hr/saveEmployee}" th:object="${user}" method="POST" >
 <input type="text" th:field="*{username}"
               placeholder="username" class="form-control mb-4 col-4">

        <input type="text" th:field="*{password}"
               placeholder="password" class="form-control mb-4 col-4">

        <input type="text" th:field="*{role}"
               placeholder="role" class="form-control mb-4 col-4">              
 <input type="text" th:field="*{firstName}"
               placeholder="Employee First Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{lastName}"
               placeholder="Employee Last Name" class="form-control mb-4 col-4">
               
<input type="date" th:field="*{dob}" placeholder="date" class="form-control mb-4 col-4">
        <input type="text" th:field="*{email}"
               placeholder="Employee Email" class="form-control mb-4 col-4">
            <input type="text" th:field="*{address}"
               placeholder="Employee address" class="form-control mb-4 col-4">

        <input type="text" th:field="*{contact}"
               placeholder="Employee contact" class="form-control mb-4 col-4">

  
        <button type="submit" class="btn btn-info col-2"> Save Employee</button>
</form>
</div>
</body>
</html>